<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dc/auto-refresher/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dc/auto-refresher/index.html [L]
</IfModule>